label {
    font-weight: 600;
    display: inline-block;
}

.flexbox {
    padding: 1em;
    display: flex;
    font-size: 1.3rem;
}

.flex-left {
    padding-right: 2em;
}

.flex-right {
    margin-left: 2em;
    padding-left: 4em;
    border-left: 2px solid black;
}